<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="CPTC.CPTC" android:installLocation="auto">
	<uses-sdk />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
  <application android:name="mono.android.app.Application" android:allowBackup="true" android:label="CPTC.CPTC" android:debuggable="true">
    <activity android:icon="@drawable/icon" android:label="CPTC" android:screenOrientation="portrait" android:name="md5d534e3b19c8c484658a51397eff1be33.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

  </application>
</manifest>